from airflow import DAG
from airflow.decorators import task
from datetime import datetime

with DAG("get_price_{{ dag_id }}", 
start_data=datetime(2023, 1 ,1), 
schedule_interval="{{ schedule_interval }}", 
catchup={{ catchup or Flase }}) as dag:

@task
def extract(stock):
    return stock

@task
def process(stock):
    return stock
    
@task
def send_email(stock):
    print(stock)
    return stock
    
send_email(process(extract({{ input }})))